*{
    text-align: center;
    padding: 0;
    margin: 0;
}
html, body{
    background-color: black;
}
.main-container{
    border: 4px solid rgb(255, 0, 84);
    border-radius: 50px;
    margin: 2rem;
    background-color: #01ff2c;
}
nav, section, footer, aside, article{
    border: 2px solid #a80abd;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
article, aside{
    width: 35%;
    display: inline-table;
    height: 300px;
    background-color: black;
    color: white;
}
nav, footer, section {
    color: black;
    background-color: rgb(236, 169, 236);
}